<!--TOP TABLE DISPLAYING OVERALL STATISTICS-->
<div id="current-portfolio-content">
  <div class="container-fluid">
    <h4 style=" color: blue; text-align: center" >PORTFOLIO STATISTICS</h4>
    <table class = "table table-borderless" width = 100% cellspacing = "0">
      <thead>
        <th>CURRENT VALUE OF PORTFOLIO (UNREALIZED):</th>
        <th>ORIGINAL MONEY $ LEFT:                  </th>
        <th>TOTAL MONEY $ INVESTED:                 </th>
        <th>TOTAL MONEY $ PULLED OUT:               </th>
      </thead>
      <tbody>
        <tr>
          <th>${{portfolio.currentTotal}}</th>
          <th>${{portfolio.originalMoney}}</th>
          <th>${{portfolio.totalMoneyIn}}</th>
          <th>${{portfolio.totalMoneyOut}}</th>
        </tr>
      </tbody>
    </table>
    </div>
    <hr>

    <!--BOTTOM TABLE DISPLAYING ASSET STATISTICS-->

    <!--assettable-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Assets</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="portfolioTable" width="100%" cellspacing="0">
                <thead>
                    <tr> 
                      <th>Symbol</th>
                      <th>Current Price</th>
                      <th>Total Shares</th>
                      <th>Current Total</th>
                      <th>Profit Margin (unrealized)</th>
                    </tr>
                  </thead>
                  <tbody >    
                    <tr *ngFor="let asset of assets" [ngClass]="'tablerow'">
                        <td><a  [routerLink]="['/portfolio/myPortfolio/asset/', asset.symbol]" routerLinkActive="active" >{{ asset.symbol }}</a></td>
                        <td>${{ asset.price        }}</td>
                        <td> {{ asset.shares       }}</td>
                        <td>${{ asset.currentTotal }}</td>
                        <td> {{ asset.unRealMargin }}%</td>
                        <button type="button" class="btn btn-dark" [routerLink]="['/portfolio/myPortfolio/addAsset', asset.symbol, asset.shares]"   >Trade</button>
                        <button type="button" class="btn btn-dark"[routerLink]="['/portfolio/myPortfolio/asset/', asset.symbol]" routerLinkActive="active" >DETAILS</button>
                        <p></p>
                      <br>
                    </tr>   
                  </tbody>
              </table> 
            </div>
        </div>
      </div>
  </div>