<app-nav></app-nav>
<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="portfoliodashboard-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">  
          <h1>My Portfolio</h1>
          <ul class="nav justify-content-center">
              <li class="nav-item">
                  <a routerLink="/portfolio/myPortfolio" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Current Assets</a> 
              </li>
              <li class="nav-item">
                <a routerLink="/portfolio/myPortfolio/addAsset" class="btn btn-light btn-sm" role="button" >Enter New Transaction (Asset)</a>
              </li>
          </ul>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>