#dashboard-content{
    padding-left: 200px;
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
}

.left-half{
    display: inline-block;
}

.right-half{
    display: inline-block;
}

#newsTitle {
    font-weight: bold;
    font-size: 18px;
}

.searchBar {
    position: relative;
    left: 30px;
    border: 3px solid rgb(142, 241, 3);
}

#news {
    position: relative;
    left: 500px;
    font-size: 24px;
    color: black
}

#table1 {
    border: 3px solid rgb(142, 241, 3);
}

#title {
    font-family: "Apple Chancery", cursive;
    font-size: 18px;
    font-weight: bold;
    color: black;
    position: relative;
    left: 30px;
}

#author{
    font-family: "Apple Chancery", cursive;
    font-size: 16px;
    color: black;
    position: relative;
    top: 5px;
    left: 5px;
}

 #desc {  
    font-family: "Apple Chancery", cursive;
    font-size: 16px;
    color: black;
    position: relative;
    top: 5px;
    left: 250px;
}

#descr {  
    font-family: "Apple Chancery", cursive;
    font-size: 15px;
    color: black;
    position: relative;
    top: 5px;
}

#readmore {  
    font-family: "Apple Chancery", cursive;
    font-size: 15px;
    color: black;
    position: relative;
    top: 10px;
    left: 250px;
    color: rgb(142, 241, 3);
    border: 1px solid rgb(142, 241, 3);
}

#fullSite{  
    font-family: "Apple Chancery", cursive;
    font-size: 15px;
    color: black;
    position: relative;
    top: 10px;
    left: 350px;
    border: 1px solid rgb(142, 241, 3);
}

#line {   
    top: 10px;
}

#modalContent {
    font-family: "Apple Chancery", cursive;
    font-size: 15px;
    color: black;
    position: relative;
    top: 10px;
}

#attribution {
    font-family: "Apple Chancery", cursive;
    font-size: 15px;
    color: black;
    position: relative;
    top: 10px;
}
