<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span> Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/portfolio">
      <i class="fas fa-fw fa-table"></i>
      <span> Portfolio</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/watchlist">
      <i class="fas fa-fw fa-table"></i>
      <span> Watchlist</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/advisors">
      <i class="fas fa-fw fa-chart-area"></i>
      <span> Advisors</span></a>
  </li>
<li class="nav-item">
    <a class="nav-link" routerLink="/performance">
      <i class="fas fa-fw fa-chart-area"></i>
      <span> Performance</span></a>
  </li>
</ul>
