#asset-details-content{
  padding-left: 200px;
  padding-top: 56px;
  padding-bottom: 50px;
  width: 100%;
}

#container {
    height: 100%;
    display: flex;
  }

  #leftForm {
    background-color: royalblue;
  }
  #rightForm {
    background-color: tan;
  }
  #middleForm {
    background-color: white;
    
  }

  #tableBorder, td {
    color: antiquewhite;
    border: 1px solid white;
    padding:0 15px 0 15px; 
  }

    th, #gold {
    color: gold;
  }

  #Margin1 {
    margin: 35px 0px 35px 0px
  }

  #heading {
    text-align: center;
    font-size: 16pt;
    color: black;
  }

  #heading2 {
    text-align: center;
    font-size: 24pt;
    color: black;
  }

  #tableClean {
    border: 0px transparent white;
    padding:0 15px 0 15px; 
  }