<!-- Begin Page Content -->
<div id="asset-details-content">
    <div class="container-fluid">
        
        <div class="row">
          <!-- Page Heading -->
            <div class="col-12">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-center" width="100%">
                            <div class="mr-auto p-2"><img class="img-fluid" id="logo" *ngIf="stockData" src={{stockData.data.logo}}></div>
                            <div class="mr-auto p-2"><h1 *ngIf="stockData">{{stockData.data.company}}</h1></div>
                            <div class="mr-auto p-2"><h1 id="symbol">{{newAsset.symbol | uppercase}}</h1></div>
                            <div class="p-2"><h1 id="price">{{newAsset.currentPrice | currency:'USD':'symbol-narrow':'1.2-2'}}</h1></div>
                            <div class="p-2"><button type="button" class="btn btn-dark" (click)="refresh()">Refresh</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-7" style="display: inline-flex; float: left;">
                <div class="card text-black bg-light mb-3" style="min-width:100%">
                        <div class="card-header">My Asset Details</div>
                        <div class="card-body">
                            <table class="table-responsive" id="assetDetails" cellspacing="5" cellpadding="20">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="font-size: 14px">My Shares</th>
                                        <th class="text-center" style="font-size: 14px">Average Buy Price</th>
                                        <th class="text-center" style="font-size: 14px">Current Share Price</th>
                                        <th class="text-center" style="font-size: 14px">Profit/Loss Per Share</th>
                                        <th class="text-center" style="font-size: 14px"> Total Profit/Loss</th>
                                        <th class="text-center" style="font-size: 14px">Gain/Loss</th>
                                    </tr>
                                </thead>
                                    <tr>
                                        <td class="text-center" style="font-size: 24px">{{newAsset.shares}}</td>
                                        <td class="text-center" style="font-size: 24px">{{newAsset.avgprice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                        <td class="text-center" style="font-size: 24px" [style.color]="newAsset.avgprice > newAsset.currentPrice  ? 'red' : 'green'">{{newAsset.currentPrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                        <td class="text-center" style="font-size: 24px" [style.color]="newAsset.gain < 0  ? 'red' : 'green'">{{newAsset.currentPrice - newAsset.avgprice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                        <td class="text-center" style="font-size: 24px" [style.color]="newAsset.gain < 0  ? 'red' : 'green'">{{(newAsset.currentPrice - newAsset.avgprice) * newAsset.shares | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                        <td class="text-center" style="font-size: 24px" [style.color]="newAsset.gain < 0  ? 'red' : 'green'">{{newAsset.gain | number:'1.1-2'}}%</td>
                                    </tr>
                            </table>
                                
                        </div>
                </div>
            </div>

            <div class="col-5" style="display: inline-flex; float: right;">
                <div class="card text-black bg-light mb-3" style="min-width: 100%;">
                        <div class="card-header" *ngIf="stockData">{{stockData.data.company}}</div>
                        <div class="card-body">
                            <p *ngIf="stockData">{{stockData.data.description}}</p>

                            <table class = "table-responsive" *ngIf="stockData">
                                <tr>
                                    <th>CEO:&nbsp;&nbsp;</th>
                                    <td>{{stockData.data.CEO}}</td>
                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sector:&nbsp;&nbsp;</th>
                                    <td>{{stockData.data.sector}}</td>
                                </tr>
                                <tr>
                                    <th>Previous Year Sales:&nbsp;&nbsp;</th>
                                    <td>{{stockData.data.sales}}</td>
                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dividend:&nbsp;&nbsp;</th>
                                    <td>{{stockData.data.dividend | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <th>Website:&nbsp;&nbsp;</th>
                                    <td><a href={{stockData.data.website}}>{{stockData.data.website}}</a></td>
                                </tr>
                            </table>
                        </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-4">
                <div class="card text-black bg-light mb-3" style="min-width: 100%;">
                        <div class="card-header" *ngIf="stockData">My Transaction History</div>
                        <div class="card-body " style="overflow-y:auto;">
                        
                            <table class="table-striped" id="assetDetails" cellpadding="20" style="align-content: center">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Shares</th>
                                        <th>Share Price</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                    <tr *ngFor="let transaction of transactions" >
                                        <td>{{transaction.buydate}}</td>
                                        <td>{{transaction.shares}}</td>
                                        <td>{{transaction.price | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                        <td *ngIf="transaction.transaction">Buy</td>
                                        <td *ngIf="!transaction.transaction">Sell</td>
                                    </tr>
                            </table>
                        </div>
                </div>
            </div>

            <div class="col-8">
                    <div class="card text-black bg-light mb-3" style="min-width: 100%;">
                            <div class="card-header" *ngIf="stockData">5 Year Chart</div>
                            <div class="card-body">
                                <canvas #stockChart>{{ chart }}</canvas>
                            </div>
                    </div>
                </div>

        </div>
    </div>
</div>
        
            
            