<div class="container">
  <h1>Registration Form</h1>
  <form #registrationForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username" #username="ngModel">
      <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
            Username is required
        </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel">
      <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
            Password is required
        </div>
    </div>

    <div class="form-group">
      <label for="firsname">First Name</label>
      <input type="text" class="form-control" id="firstname" [(ngModel)]="user.firstname" name="firstname" #firstname="ngModel">
      <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">
            First name is required
        </div>
    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" [(ngModel)]="user.lastname" name="lastname" #lastname="ngModel">
      <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">
            Last name is required
        </div>
    </div>

    <div class="form-group">
      <label for="alterEgo">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
            Email is required
        </div>
    </div>

    <div class="form-group">
      <label for="recoveryQuestion">Recovery Question</label>
      <select class="form-control" id="recoveryQuestion" required [(ngModel)]="user.recoveryQuestion" name="recoveryQuestion" #recoveryQuestion="ngModel">
        <option *ngFor="let ques of questions" [value]="ques">{{ques}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="recoveryAnswer">Recovery Answer</label>
      <input type="text" class="form-control" id="recoveryAnswer" [(ngModel)]="user.recoveryAnswer" name="recoveryAnswer" #recoveryAnswer="ngModel">
      <div [hidden]="recoveryAnswer.valid || recoveryAnswer.pristine"
             class="alert alert-danger">
             recoveryAnswer is required
        </div>
    </div>

    <button type="button" class="btn btn-dark" (click)="addUser()">Register</button>

  </form>
</div>